.container{
	display:grid;
	grid-template-columns:1fr 3fr;
	

	text-align:center;
	font-size:22px;
	color:#fca431;
	background-color:#414342;
	font-style:normal;
	height:100vh
	
}


.receipt{
	display:flex;
	justify-content: space-arouund;
	align-items:center;
	place-self:center;
	background:beige url("sidebar.jpg")  no-repeat ;
	background-size:cover;
	height:100vh;
	background-position:center;
	
	
}
main{
	background: grey url("home.jpg") no-repeat ;
	background-size:cover;
	height:100vh;
	background-position: center;
}
.sidebar{ 
	border-bottom: 0.5px dashed #ccc;
    line-height: 1;
    overflow: hidden;
    font-family: monospace;
 

	
}
.jukebox{
	display:grid;
	 grid-template-columns: auto auto auto;
	padding: 10px;
	text-align: center;


}

li:hover{
	background-color:yellow; /* make it so that its like a marker */
}
aside{
    display: flex; /* Makes the div a flexbox container */
    margin: 1% 4%; /* sets some space from the other elements, change as needed */
}



