:root { 
  	overscroll-behavior: none;/* stop bounce */
}
li{
	list-style-type: none;
}
nav{
transition: all 0.3s
}
.header{
	
	width: auto;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tags {
    display: flex;
    flex-wrap: wrap;
  }

.tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
h1,
h2{
	text-align:center;
}
:has(.openSidebar[aria-expanded="true"]) #receipt{
	display:block flow;
	align-self: center;
}
.openSidebar{
	background-color: #F9FAF4;
	color: #FD9612;

}

.hidden{
	display:none;
}



article{
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#receipt{
	display:none;
	align-content:center;
	background:beige url(../assets/pictures/sidebar.jpg) center/ 50vh no-repeat ;
	box-sizing:border-box;
	background-size: cover;
}

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
li:hover,
li:focus{
	background-color:yellow;
}
content{
	text-align:center;
  
}

.sidebar{
	

	color:black;
	text-align:center;
	font-family: "Times New Roman",Times;
	align-items: stretch;
	
}
body{
	font-size:22px;
	color:#fca431;
	background-color:#f4f5ee;
	font-style:normal;
	
}
/* add [data-filter="whatever tag"] to change specific tag colors*/
.tag.active {
	background-color: #F9FAF4;
	color: #FD9612;
}
  #themeToggle {
    border: 0;
    background: none;
  }
  .sun { fill: black; }
  .moon { fill: transparent; }

  :global(.dark) .sun { fill: transparent; }
  :global(.dark) .moon { fill: white; }
  
/*dark css */  
	html.dark {
	background-color: #0d0950;
	color: #fff;
	}
	.dark body{
		color:deeppink;
		background-color: #0d0950;
	}
	.dark .header{
		background-color: blueviolet;

	}

	.dark .menu {
	background-color: #fff;
	color: #000;
	}

	.dark .nav-links a:hover,
	.dark .nav-links a:focus {
	color: #0d0950;
	}

	.dark .nav-links a {
	color: #fff;
	}

	.dark a {
	color: #ff9776;
	}
/*all above is dark screen */
/* all below is for desktop screens */

@media screen and (min-width: 636px) {
	.grid{


	display:grid;
	grid-template-columns:1fr 4fr;
	grid-column-gap: 5px;
	min-width:0;

	
	}
	:has(.openSidebar[aria-expanded="true"]) #receipt{
	display:none;
	align-self: center;
	}
	.footer{
		box-shadow:
    0 0 60px 30px #fff,  /* inner white */
    0 0 100px 60px #f0f, /* middle magenta */
    0 0 140px 90px #0ff; /* outer cyan */
	}
	#receipt{
		
	position: sticky;
	top:0;
	display: flex;
	min-height: 100vh;
	max-height:100vh;
	}
	p,
	ul,
	.header
	{
		grid-column-start: 1;
		grid-column-end: 4;
	}
	h1{
			grid-row-start: 1;
		grid-column-start:1;
		grid-column-end:4;
	}
	.filters{
		grid-row-start:2;
		grid-column-start:1;
		grid-column-end:4;
	}
	.tag-filter{
		grid-row-start:3;
		grid-column-start:1;
		grid-column-end:4;
	}
	.tunes{
		
		display:grid;
		
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 5px;
		grid-row-gap:5px;
	grid-auto-rows: minmax(0, auto);
	}
	.footer{
		order:2;
		
		
		grid-column-start: 1;
		grid-column-end: 4;


	}
	.items{
		display:grid;
	grid-template-columns: subgrid;
	grid-template-rows:minmax(auto,1fr);
	grid-column:1/4;
		grid-row:4/5;
		list-style-type: none; /* Remove bullets */
		padding: 0; /* Remove padding */
		margin: 0; /* Remove margins */
	}
} /*end of desktop CSS */


