:root { 
  	overscroll-behavior: none;/* stop bounce */
}
body{
	font-size:1em;
	color:#fca431;
	background-color:#f4f5ee;
	font-style:normal;
	
}
	.header{
		margin:.5em .5em 1em .5em;
		width: auto;
		background-color: white;
		border: 1px solid #ccc;
		border-radius: 5px;
		padding:1em;
		min-height: 15vh;
		text-align: center;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	}
	#themeToggle {
    	border: 0;
    	background: none;
  	}

/* nav and side bar */
	#receipt{
		display:none;
		align-content:center;
		background:beige url(../assets/pictures/sidebar.jpg) center/ 50vh no-repeat ;
		
		background-size: cover;
		margin: 0 .5em 0 .5em;
		padding-left:.25em;
	}
		.sidebar{
			
			
			font-size: large;
			color:black;
			text-align:center;
			font-family: "Times New Roman",Times;
			
			
			
		}
			.dots{

			border-bottom: 2px dotted black;
			margin: 0 .25em .25em;

			}
			.links{ /* make into three columns, one for item, dots and then checcklist */
				display:grid;
				grid-template-columns: max-content 1fr 20px;
				text-align: left;
				justify-content: space-between;
				
			}
	:has(#openSidebar[aria-expanded="true"]) #receipt{
		display:block flow;
		align-self: center;
	}
	#openSidebar{
		background-color: #F9FAF4;
		color: #FD9612;
		max-width: min-content;
	}

/* nav and side bar end*/
li:hover,
li:focus{
	background-color:yellow;
}
li{
	list-style-type: none;
}
ul{
	padding:0;
}
#webcomicList{
	display:grid;
	
	grid-auto-flow: row dense;
}
img{
	max-width: 100%;
	max-height: 100%;
}
.gridContent{
	margin: .25em;

    border: dotted 1px #a1a1a1;
    border-radius: .5em;
	padding: .5em;
	background-color: #F8FCFD;
}

.tags {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.tag {
	margin: .25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
	padding: .5em;
	background-color: #F8FCFD;
	
}

h1,
h2{
	text-align:center;
}
article{
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;

	text-align: center;
	
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

content{
	text-align:center;
  
}

.hidden{
	display:none;
}
	footer{
		
		background-color: white;
		border: 1px solid #ccc;
		border-radius: 5px;

		margin:2em .5em .5em .5em;
		align-self: last baseline;
		min-height: 15vh;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	}
		.socials{ /* figure out where the FUCKING padding is coming from LOL =i figured it out unordered lists have auto padding :rolleseyes:*/
			display:grid;
			place-content: center;
			grid-template-columns:
			
			repeat(8,1fr);
			
			padding-left: 1em;
			padding-right: 1em;
			> * {
				grid-column-end: span 2;
			}

			> :first-child {
				grid-column-start: 2;
			}	
		}
		.logo,
		.logoDark{
			width: 2em;
			height: 2em;
	
			
		}
		.logoDark{
			display:none;
			
		}



/* add [data-filter="whatever tag"] to change specific tag colors
.tag.active {
	background-color: #c7d96d;
	color: #FD9612;
}
Not being used rn	
*/


/*
  .sun { fill: black; }
  .moon { fill: green; }

  :global(.dark) .sun { fill: transparent; }
  :global(.dark) .moon { fill: purple; }
*/
/*dark css */  
	html.dark {
	background-color: #0d0950;
	color: #fff;
	}

	.dark #receipt{
		background: hotpink;
		color: #000;
		a{
			color: #000;
		}
	}
	.dark li:hover,
	.dark li:focus{
	background-color: gray;
	}
	.dark body{
		color:deeppink;
		background-color: #0d0950;
	}
	.dark footer,
	.dark .header{	background-color: blueviolet;
	
	box-shadow:
    0 0 .5rem 0.25rem #fff,  /* inner white */
    0 0 1rem .5rem #f0f, /* middle magenta */
    0 0 1.75rem .75rem #0ff; /* outer cyan */
	}

	.dark .menu {
	background-color: #fff;
	color: #000;
	}

	.dark .nav-links a:hover,
	.dark .nav-links a:focus {
	color: gray;
	}

	
	.dark .logo{
		display:none;
	}
	.dark .logoDark{
		display:inline;
	}
	.dark a {
	color:#0ff;
	}
/*all above is dark screen */
/* all below is for desktop screens */

@media screen and (min-width: 636px) {
	
	:has(#openSidebar[aria-expanded="true"]) /*stuff to happen when nav button clicked */ { .grid{
	display:grid;
	grid-template-columns: auto;
	}
	#receipt{
	display:none;

	}
} 
/*end stuff that happens when receipt opens closes */
	.socials{
			grid-template-columns:
			repeat(7,1fr);
			
						> * {
				grid-column-end: span 1;
			}

			> :first-child {
				grid-column-start: 1;
			}	
			
	}	
	.grid{


	display:grid;
	grid-template-columns:1fr 4fr;
	grid-column-gap: 5px;
	min-width:0;

	
	}

	#receipt{
	
	position: sticky;
	top:0;
	display: block;
	min-height: 100vh;
	max-height:100vh;
	min-width: 20vw;
	}
	/*Put things here that take up the whole page length */
	p,
	ul,
	.header,
	#blogTags
	{
		grid-column:1/-1;
	}
	h1{
			grid-row-start: 1;
		grid-column:1/-1;
	}
	.filters{
		grid-row-start:2;
		grid-column-start:1;
		grid-column-end:4;
	}
	.tag-filter{
		grid-row-start:3;
		grid-column-start:1;
		grid-column-end:4;
	}
	.tunes{
		
		display:grid;
		
		grid-template-columns: subgrid;
		grid-column-gap: 5px;
		grid-row-gap:5px;
	grid-auto-rows: minmax(0, auto);
	}
	.footer{
		order:1;
		place-content: center;
		margin: 2em 0 0 0;
		grid-column-start: 1;
		grid-column-end: 4;


	}
	.items{
		display:grid;
	grid-template-columns: subgrid;
	grid-template-rows:minmax(auto,1fr);
	grid-column:1/4;
		grid-row:4/5;
		list-style-type: none; /* Remove bullets */
		padding: 0; /* Remove padding */
		margin: 0; /* Remove margins */
	}
} /*end of desktop CSS */


