---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.flatMap((post: any) => post.data.tags))];
const pageTitle = "Tag Index";
---

<BaseLayout {pageTitle}>
    <section class="tags">
        <ul>
        {tags.map((tag) => (

        <li class="tag"><a href={`/tags/${tag}`}>{tag}</a></li>))}
        </ul>
    </section>

</BaseLayout>