---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle="cool things!!"
---
<BaseLayout {pageTitle}>
    <p> you may be wondering, dang linette you did NOT know how to code last year (some may say this rings true to this day) but I'm going to try and share anyhting and everything I've used that I find helpful :p enjoy!</p>
    <ul>
        <li><a href="https://docs.astro.build/en/tutorial/0-introduction/">AstroJS Tutorial</a> This is how I coded all of the foundation of the website, honestly the documentation for astro seems really robust which is super awesome, I'm not as keen on the AI stuff but it seems pretty opt in as opposed to baked in </li>
        <li>webcomics i like--</li>
        <li>manga ive been reading</li>
        <li>albums and also reviews ive done</li>
    </ul>

</BaseLayout>