---
import Social from './Social.astro';

---
<footer>
<ul>
    <li>Check me out massacring some code ay ay ay <Social platform ="github" username="keownkeys-coder" /></li>
    <li> see videos I have personally made!
        <Social platform ="YouTube" username="@themusicalqn"></Social>
    </li>
    <li>
        or if you wanna see me Flaunt it 😗
        <Social platform ="Instagram" username ="linette_aka_qn"/>
    </li>
    <li> you can also hear the Highest Quality of my jams <Social platform ="Bandcamp" username ="keown"/></li>
   <li> and hears anyhting else you might need (if you like ice recruitment ads and bombs and deeply anti consumer practices and what all have you) <Social platform ="Linktr.ee" username="FriendQN"/>
   </li>
        
</ul> 
</footer>