---
import ThemeIcon from "./ThemeIcon.astro";
import Menu from "./Menu.astro";
import LightIcon from "./Icons/LightIcon.astro";
---
<div class="header">
    <ThemeIcon />
    <Menu />
    Search Icon?
    <LightIcon />
</div>