---
---
<aside id="receipt">
	<nav class="sidebar" >
		<h2><a href="/">da HANGS</a> </h2>
			<button >Put Dat Thang Away :((</button>
			<button >Or bring it closer :?</button>
	
			<ul class="nav">
<!-- in order, Jukebox-Music,Plaque-Reviews, Mirror-Selfies,Poster-Art, Computer-Production Notes, Letter or notebook-Mailing Lists, Tip jar-Tips,TV-Music Videos and Youtube-->
				<li><a href="/about/">Me myself and I bichhh</a></li>
				<li><a href="/music/">Jams</a></li> 
				<li><a href="/reviews/">Appraisals</a></li>
				<li><a href="/photos/">Hotties</a></li>
				<li><a href="/drawings/">Moma-nearly</a>s</li>
				<li><a href="/blog/">Thoughts with Thots</a></li>
				<li><a href="/mailingList/">Just can't get enough</a></li>
				<li><a href="/tips/">Tips</a></li>
				<li><a href="/videos/">Tube</a></li>


			 </ul>
	</nav>
</aside>
