---
//import Image from "astro/components/Image.astro";

const { platform, usernameID, platformName, logo} = Astro.props;
---
<a href={`${platform}/${usernameID}`}>
    <img src={logo} alt={platformName} class="logo" 
    />
</a>