---
import Image from "astro/components/Image.astro";


const { platform, usernameID, platformName, logo} = Astro.props;
---
<a href={`${platform}/${usernameID}`}>
    <Image class="logo" src={logo} alt={platformName}/>
</a>
